<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Welcome page</title>
    <link rel="icon" href="/img/tasks.png">
</head>
<body>
    <div class="wrapper">
    {{>header}}
    <div>Welcome to the Task Manager application</div>
    <div class="mainLinks">
        <a href="/signUp">First time joining us ?</a>
        <a href="/signIn">Having an account already ?</a>
    </div>
    {{!-- {{>footer}} --}}
    </div>
</body>
</html>