<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tasks</title>
    <link rel="icon" href="/img/tasks.png">

    <script type="text/javascript">
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
            ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 )
        if ( historyTraversal ) {
        window.location.reload()
        }
        })
    </script>

</head>
<body>
    <div class="wrapper">
    {{>header}}
    <div class="tasksContainer">
        <div class="completedTasks">
            <h3>Completed tasks</h3>
        </div>
        <button id="createTask"></button>
        <div class="uncompletedTasks">
            <h3>Uncompleted tasks</h3>            
        </div>
    </div>
    <div class="disconnect">
        <form method="POST" action="/signOut">
            <input type="submit" name="signOut" value="Disconnect">
        </form>
    </div>  

    <form class="createTaskForm" method="POST">
        <div>New Task</div>
        <input id="taskDescription" type="text" placeholder="Describe your task" autocomplete="off">
        <input id="createTaskButton" type="submit" name="creatingTask" value="Create">
    </form>

    <form class="modifyTaskForm" method="POST">
        <div>Modify Task</div>
        <input id="taskModification" type="text" placeholder="Type your modification" autocomplete="off">
        <input id="modifyTaskButton" type="submit" name="modifyingTask" value="Modify">
    </form>

    {{!-- {{>footer}} --}}
    </div>

    <script src="/js/fetchTasks.js"></script>
</body>
</html>